
@font-face {
    font-family: "fontHardRock";
    src: url(../HardRock/fonts/AardvarkCafe.woff) format("woff");
    src: url(../HardRock/fonts/AardvarkCafe.ttf) format("truetype");
}
@font-face {
    font-family: "fontCafeBold";
    src: url(../HardRock/fonts/FrutigerBold.woff) format("woff");
    src: url(../HardRock/fonts/FrutigerBold.ttf) format("truetype");
}

:root {
    --varHardRock: "fontHardRock";
    --varCafeBold: "fontCafeBold";
    --varColorHR1: #8D4231;
    --varColorHR2: #F7C970;
}
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #999999;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classLogoHRC {
    position: absolute;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classBrownSemiCircle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    border: .7rem solid var(--varColorHR1);
}

.classSemiCircleTop {
    clip: rect(0px 300px 76px 0px);
    transform: rotate(.5deg);
}

.classSemiCircleBottom {
    clip: rect(138px 300px 300px 0px);
    transform: rotate(-1.5deg);
}

.classYellowCircle {
    position: absolute;
    width: 88%;
    height: 88%;
    background-color: var(--varColorHR2);
    border-radius: 100%;
}

.classText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.classText .classHRText, 
.classText .classCafeText {
    position: absolute;
    color: var(--varColorHR1);
}

.classHRText {
    font-family: var(--varHardRock);
    text-shadow: 2px 2px #FFFFFF, 4px 4px 0 #0A0E27;
    font-size: 7rem;
    margin-left: -9px;
    margin-top: -70px;

}

.classCafeText {
    font-family: var(--varCafeBold);
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 140px;
}